[user]
	name = Kadir YANIK
	email = kdrynkk@gmail.com
[alias]
	a = add
	aa = add .
	c = commit
	ca = commit --amend
	cm = commit -m
	cp = cherry-pick
	cpc = cherry-pick --continue
	d = diff
	ds = diff --staged
	s = status
	su = status -uno
	st = stash
	sp = stash pop
	pr = pull --rebase
	rc = rebase --continue
	sh = show
	sh1 = show -1
	l = log
	l1 = log -1
	l2 = log -2
